{{>header}}

{{>navbar}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Lorem, ipsum.</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A excepturi facilis omnis sit quaerat aperiam
                modi sunt vel odit, quidem dolorem consequatur aspernatur minus maxime voluptas ex esse. Harum, minus?
            </p>
        </div>
        <div class="col-4">
            <img src="img/coding.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
</div>
{{>footer}}